<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Helps high school students decide where to apply for college" />
    <meta name="keywords" content="" />
    <meta name="author" content="Andrew Cao, Qihong Jiang, Maggie Zhou" />
    <title>C4me | Confirmation</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <header>
        <div class=container>
            <div class=brand>
                <a href="landing.html"><img src="../img/c4me_logo_(transparent).png" alt="Logo"></a>
            </div>
        </div>
    </header>

    <section id="pageName">
        <div class="container">
            <h1>Register</h1>
        </div>
    </section>

    <section id="confirmationInfo">
        <div class="container">
            <h2>3. Confirmation</h2>
            <div class="box">
                <h3>Thank you for signing up!</h3>
                <p>You will soon receive an email at the email address you used during registration.</p>
            </div>
            <br>
            <button class="redirectButton" onClick="location.href='login.html'">Back to Login</button>
    </section>
</body>

<script src="./client_side_js/script.js"></script>

</html>