<%- include("admin_header.ejs"); -%>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <section id="pageName" class="mb-0">
            <div class="container">
                <h1>Check Mongo for success in the terminal. </h1>
                <h3>Will be in the importedProfiles collection in c4me</h3>
                <h3>If there are errors they will be displayed below</h3>
            </div>
        </section>
    </div>