<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Helps high school students decide where to apply for college" />
    <meta name="keywords" content="" />
    <meta name="author" content="Andrew Cao, Qihong Jiang, Maggie Zhou" />
    <title>C4me | Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-light bg-light fixed-top border-bottom">
                <a class="navbar-brand ml-4" href="/"><img src="../img/c4me_logo_(transparent).png"></a>
            </nav>
        </div>
    </header>

    <section id="pageName">
        <div class="container">
            <h2>Login</h2>
        </div>
    </section>

    <section id="loginRegisterBoxLeft">
        <div class="container">
            <div class="box">
                <form method='post' action='/login' id="loginRegisterForm" class="main-form needs-validation">
                    <h5><%= error %></h5>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="username" id="username" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label for="userPassword">Password</label>
                        <input type="password" id="userPassword" class="form-control" name="password">
                    </div>
                    <center>
                        <button type="submit" class="btn btn-primary" style="width: 120px" value="Login">Login</button>
                    </center>
                </form>
            </div>
        </div>
    </section>

    <section id="loginRegisterBoxRight">
        <div class="container">
            <div class="box">
                <h4>New here?</h4>
                <a href="/register">
                    <p>Register</p>
                </a>
            </div>
        </div>
    </section>
</body>

<script src="./js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


</html>