<%- include("student_header.ejs"); -%>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <section id="pageName">
            <div class="container md-4">
                <h1> College Search</h1>
            </div>
        </section>
    </div>
    <section id="info">
        <div class="container">
            <form method='post' action='/student/search' id="collegeFilters">
                <div class="float-right">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label mr-3" for="inlineRadio1">Lax</label>
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="lax" checked>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label mr-3" for="inlineRadio2">Strict</label>
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="strict">
                    </div>
                </div>

                <div class="form-group">
                    <label for="collegeName">College Name</label><br>
                    <input type="text" id="collegeName" name="collegeName" placeholder="Enter College Name">
                </div>

                <div class="form-group">
                    <label for="formControlRange">Admission Rate Range</label>
                    <input type="range" class="form-control-range" max="1" value="0" step="0.01" class="slider"
                        id="admissionRate1" name="admissionRate1" onchange="updateTextInput(this.value);">
                    <input type="text" id="textInput" value="">

                    <input type="range" class="form-control-range" max="1" value="0" step="0.01" class="slider"
                        id="admissionRate2" name="admissionRate2" onchange="updateTextInput2(this.value);">
                    <input type="text" id="textInput2" value="">
                </div>

                <div class="form-group">
                    <label class="my-1 mr-2" for="cost">Cost</label>
                    <select class="custom-select my-1 mr-sm-2" id="cost" name="cost">
                        <option value ="All">All</option>
                        <option value=0>$0 - $10,000</option>
                        <option value=1>$10,001 - $20,000</option>
                        <option value=2>$20,001 - $30,000</option>
                        <option value=3>$30,001 - $40,000</option>
                        <option value=4>$40,001 - $50,000</option>
                        <option value=5>$50,001 - $60,000</option>
                        <option value=6>$60,001 - $70,000</option>
                        <option value=7>$70,001 - $80,000</option>
                    </select>
                </div>

                <label for="location">Location</label><br>
                <input list="location" type="text" name="loc">
                <datalist id="location">
                    <option value="Northeast"></option>
                    <option value="Midwest"></option>
                    <option value="South"></option>
                    <option value="West"></option>
                    <option value="Pacific"></option>
                </datalist>

                <br><br>

                <label for="major">Major(s)</label><br>
                <input list="major" type="text" name="m1">
                <datalist id="major">
                    <option value="Mathematics"></option>
                    <option value="Computer Science"></option>
                    <option value="Chemistry"></option>
                    <option value="Biology"></option>
                    <option value="Education"></option>
                    <option value="English"></option>
                    <option value="Philosophy"></option>
                    <option value="Psychology"></option>
                    <option value="Engineering"></option>
                    <option value="Music"></option>
                </datalist>

                <input list="major" type="text" name="m2">

                <br><br>

                <div class="form-group">
                    <label for="rank">Rank</label><br>
                    <input type="text" id="rank1" name="rank1" placeholder="Enter Rank Range (1-600)">
                    <br> to - <br>
                    <input type="text" id="rank2" name="rank2" placeholder="Enter Rank Range (1-600)">
                </div>
                <br><br>
                
                <div class="form-group">
                    <label for="size">Size</label><br>
                    <input type="text" id="size1" name="size1" placeholder="Enter Size Range">
                    <br> to - <br>
                    <input type="text" id="size2" name="size2" placeholder="Enter Size Range">
                </div>               
                <br><br>
                <table>
                    <tr>
                        <th><label for="math">SAT Math</label></th>
                        <th><label for="reading">SAT EBRW</label></th>
                        <th><label for="act">ACT Composite</label></th>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                            <label class="my-1 mr-2" for="math">
                            <select class="custom-select my-1 mr-sm-2" id="math" name="math">
                                <option value="All"></option>
                                <option value=0>0-100</option>
                                <option value=1>101-200</option>
                                <option value=2>201-300</option>
                                <option value=3>301-400</option>
                                <option value=4>401-500</option>
                                <option value=5>501-600</option>
                                <option value=6>601-700</option>
                                <option value=7>701-800</option>
                            </datalist>
                        </select>
                    </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class="my-1 mr-2" for="reading">
                                <select class="custom-select my-1 mr-sm-2" id="reading" name="reading">
                                    <option value="All"></option>
                                    <option value=0>0-100</option>
                                    <option value=1>101-200</option>
                                    <option value=2>201-300</option>
                                    <option value=3>301-400</option>
                                    <option value=4>401-500</option>
                                    <option value=5>501-600</option>
                                    <option value=6>601-700</option>
                                    <option value=7>701-800</option>
                                </datalist>
                            </select>
                        </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class="my-1 mr-2" for="act">
                                <select class="custom-select my-1 mr-sm-2" id="act" name="act">
                                <option value="All"></option>
                                <option value=0>1-4</option>
                                <option value=1>5-8</option>
                                <option value=2>9-12</option>
                                <option value=3>13-16</option>
                                <option value=4>17-20</option>
                                <option value=5>21-24</option>
                                <option value=6>25-28</option>
                                <option value=7>29-32</option>
                                <option value=8>33-36</option>
                            </datalist>
                        </select>
                    </div>
                        </td>
                    </tr>
                </table>

                <input type="submit" id="searchBtn" value="Search">
                <br><br><br>
            </form>
        </div>
    </section>
    </body>

    <!-- jquery Library-->
    <script src="https://code.jquery.com/jquery-3.5.0.js"
    integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<script>
function updateTextInput(val) {
          document.getElementById('textInput').value=val; 
        }
function updateTextInput2(val) {
          document.getElementById('textInput2').value=val; 
        }

</script>

    </html>