<%- include("student_header.ejs"); -%>

<script>
    //Parsed JSON elements will be rendered here
    //Also Received templateData

</script>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <section id="pageName" class="mb-0">
            <div class="container">
                <h1> College Search Results</h1>
            </div>
        </section>
        <!-- <form method='post' action='/student/compute/<%# key %>'> -->
        <!-- <input type="submit" id="searchBtn" value="Compute">--->

        <button type="submit" class="btn btn-secondary float-right" value="compute_rec">Compute Recommendation
            Score</button>
        </form>
        <button class="btn btn-secondary float-right" style="margin-right:20px" onclick="history.back()">Modify
            Search</button><br><br>

    </div>
    <section id="info mt-4 mb-4">
        <!-- PUT TABLE HERE PLS-->
        <table class="table table-bordered" id="myTable2">
            <tbody>

            </tbody>
        </table>
        <div id="profileInfo"></div>
        <div id="dialog" title="College Profile">
    </section>
    </body>

    <script>

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable2");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
    <!-- <script type="text/javascript" src="jquery-1.8.2.js"></script> -->
    <!-- <script type="text/javascript">
        $(function () {
            var dataArr = [];
            $("td").each(function () {
                dataArr.push($(this).html());
            });
            $('#sendServer').click(function () {
                $.ajax({
                    type: "POST",
                    url: '/student/compute',
                    data: "content=" + dataArr,
                    success: function (data) {
                        alert(data);// alert the data from the server
                    },
                    error: function () {
                    }
                });
            });
        }); -->
    <!-- </script> -->

    <!-- jquery Library-->
    <script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

    <script>
        var search = <%- JSON.stringify(search) %>
        var globalCollegeInfo;
        var allMajors = ""
        console.log(search)
        const northeast = ['ME', 'NH', 'VT', 'MA', 'CT', 'RI', 'NY', 'PA', 'NJ', 'DC'];
        const midwest = ['ND', 'MN', 'WI', 'MI', 'SD', 'IA', 'IL', 'IN', 'OH', 'NE', 'MO', 'KS'];
        const west = ['WA', 'MT', 'OR', 'ID', 'WY', 'CA', 'NV', 'CO', 'UT', 'AZ', 'NM'];
        const south = ['OK', 'AR', 'KY', 'WV', 'MD', 'DE', 'TX', 'LA', 'TN', 'DC', 'MS', 'AL', 'NC', 'GA', 'SC', 'FL'];
        const pacific = ['HI', 'AK'];
        //$.getJSON("/json/college_data.json", showColleges) //Gets the Json College File and then uses the function showColleges to display onto tables
        var filteredColleges = [] 
        console.log("Search", search)
        $.getJSON("/json/college_data.json", filterColleges) //Gets the data for the colleges and passes it to filtercolleges
        function filterColleges(collegeInfo) { //Goes through each of the filters specifed and filters out colleges based on those spcifications
            globalCollegeInfo = collegeInfo
            var thead = $("<thead/>")
            var row = $("<tr/>")
            console.log(collegeInfo)
            Object.keys(collegeInfo[0]).forEach(key => { //MUST Modify will go through each key specifed and print out a column head for them
                console.log(key)

                if (key == "name") {
                    row.append($("<td/>", { html: '<th  onclick="sortTable(0)">Name</th>' }))
                }
                else if (key == "cost_gen") {
                    row.append($("<td/>", { html: '<th  onclick="sortTable(1)">Cost to Attend</th>' }))
                }
                else if (key == "admis_percent") {
                    row.append($("<td/>", { html: '<th  onclick="sortTable(2)">Admitted Percent</th>' }))
                }
                else if (key == "size") {
                    row.append($("<td/>", { html: '<th  onclick="sortTable(3)">Size</th>' }))
                }
                else if (key == "location") {
                    row.append($("<td/>", { html: '<th onclick="sortTable(4)">Location</th>' }))
                }
                else if (key == "ranking") {

                    row.append($("<td/>", { html: '<th onclick="sortTable(5)">Ranking</th>' }))
                }
                else if (key == "testscores") {
                    row.append($("<td/>", { html: '<th onclick="sortTable(6)">SAT EBRW</th>' }))
                    row.append($("<td/>", { html: '<th onclick="sortTable(7)">SAT Math</th>' }))
                    row.append($("<td/>", { html: '<th onclick="sortTable(8)">ACT Composite</th>' }))
                }
                else if (key == "completion_percent") {
                    row.append($("<td/>", { html: "View Profile" }))

                }
            })
            thead.append(row)
            $("#myTable2").append(thead)
            var location = ''
            console.log("College Info:", collegeInfo)
            console.log("Search", search)
            if (search.cost1 != '') {
                var cost1 = parseInt(search.cost1) //We want to check if the field is empty or not for each of these and to maintain easy code naming consistency
            }
            else {
                var cost1 = ''
            }

            if (search.cost2 != '') {
                var cost2 = parseInt(search.cost2)
            }
            else {
                var cost2 = ''
            }

            if (search.rank1 != '') {
                var rank1 = parseInt(search.rank1) //We want to check if the field is empty or not for each of these and to maintain easy code naming consistency
            }
            else {
                var rank1 = ''
            }

            if (search.rank2 != '') {
                var rank2 = parseInt(search.rank2)
            }
            else {
                var rank2 = ''
            }

            if (search.size1 != '') {
                var size1 = parseInt(search.size1)
            }
            else {
                var size1 = ''
            }

            if (search.size2 != '') {
                var size2 = parseInt(search.size2)
            }
            else {
                var size2 = ''
            }
            if (search.math1 != '') {
                var math1 = parseInt(search.math1) //We want to check if the field is empty or not for each of these and to maintain easy code naming consistency
            }
            else {
                var math1 = ''
            }

            if (search.math2 != '') {
                var math2 = parseInt(search.math2)
            }
            else {
                var math2 = ''
            }

            if (search.eng1 != '') {
                var eng1 = parseInt(search.eng1) //We want to check if the field is empty or not for each of these and to maintain easy code naming consistency
            }
            else {
                var eng1 = ''
            }

            if (search.eng2 != '') {
                var eng2 = parseInt(search.eng2)
            }
            else {
                var eng2 = ''
            }

            if (search.act1 != '') {
                var act1 = parseInt(search.act1) //We want to check if the field is empty or not for each of these and to maintain easy code naming consistency
            }
            else {
                var act1 = ''
            }

            if (search.act2 != '') {
                var act2 = parseInt(search.act2)
            }
            else {
                var act2 = ''
            }
            if(search.inlineRadioOptions = 'lax'){
                var sOrl = 'lax'
            }
            if(search.inlineRadioOptions = 'strict'){
                var sOrl = 'strict' //Never got to it
            }

            // console.log(size1)
            // console.log(size2)
            // console.log(rank1)
            // console.log(rank2)
            // console.log(cost1)
            // console.log(cost2)
            // console.log(math1)
            // console.log(math2)
            // console.log(eng1)
            // console.log(eng2)
            // console.log(act1)
            // console.log(act2)
            console.log(allMajors)
            collegeInfo.forEach(college => { //Loops through each college passed by the JSON
                allMajors += college.majors[0]
                allMajors += college.majors[1]

                location = college.location.substring(college.location.length - 2, college.location.length)
                if (college.ranking == "401-500") {
                    var ranking = 450
                }
                if (college.ranking == "> 600") {
                    var ranking = 600
                }
                else if(college.ranking > 0) {
                    var ranking = college.ranking
                }
                else if (college.name == "Idaho State University"){
                    var ranking = 501
                }
                

                var size = 0
                if (college.size < 0 || college.size == "NaN") {
                    size = 0
                }
                else {
                    size = parseInt(college.size)
                }

                if(parseInt(college.cost_gen) > 0){
                    var cost = parseInt(college.cost_gen)
                }
                else if((parseInt(college.cost_instate) + parseInt(college.cost_outstate))>0){
                    var costi = parseInt(college.cost_instate)
                    var costo = parseInt(college.cost_outstate)
                }
                //console.log("Three Costs" ,cost, costi, costo)
                var act = 0
                var satEnglish = 0
                var satMath = 0
                //Makes sure to set the act, and sat scores early on to avoid confusion from the colleges
                if (parseInt(college.testscores.sat_ebrw.avg) > 0 || (parseInt(college.testscores.sat_ebrw.lrange) > 0 && parseInt(college.testscores.sat_ebrw.rrange) > 0)) {
                            if (parseInt(college.testscores.sat_ebrw.avg) > 0) {

                                satEnglish = college.testscores.sat_ebrw.avg

                            }
                            else if (parseInt(college.testscores.sat_ebrw.lrange) > 0 && parseInt(college.testscores.sat_ebrw.rrange) > 0) {
                                satEnglish = (parseInt(college.testscores.sat_ebrw.lrange) + parseInt(college.testscores.sat_ebrw.rrange)) / 2
                                
                            }
                        }
                        //college.testscores.sat_math.avg
                if (parseInt(college.testscores.sat_math.avg) > 0 || (parseInt(college.testscores.sat_math.lrange) > 0 && parseInt(college.testscores.sat_math.rrange) > 0)) {
                            if (parseInt(college.testscores.sat_math.avg) > 0) {
                                satMath = parseInt(college.testscores.sat_math.avg)

                            }
                            else if (parseInt(college.testscores.sat_math.lrange) > 0 && parseInt(college.testscores.sat_math.rrange) > 0) {
                                satMath = (parseInt(college.testscores.sat_math.lrange) + parseInt(college.testscores.sat_math.rrange)) / 2
                            }
                        }





                if (parseInt(college.testscores.act_composite.avg) > 0 || (parseInt(college.testscores.act_composite.lrange) > 0 && parseInt(college.testscores.act_composite.rrange) > 0)) {
                    //college.testscores.act_composite.avg
                    if (parseInt(college.testscores.act_composite.avg) > 0) {

                        act = parseInt(college.testscores.act_composite.avg)
                    }
                    else if (parseInt(college.testscores.act_composite.lrange) > 0 && parseInt(college.testscores.act_composite.rrange) > 0) {
                        act = (parseInt(college.testscores.act_composite.lrange) + parseInt(college.testscores.act_composite.rrange)) / 2
                        
                    }

                }


                //console.log(location)
                if (college.name.includes(search.collegeName)) { //Start up the filtering process in order by how the filters are and each one is pretty explanatory by name

                    if ((search.admissionRate1 <= college.admis_percent && search.admissionRate2 >= college.admis_percent) || (search.admissionRate1 <= search.admissionRate2)) {
                        if ((isNaN(cost) && (isNaN(costi)) && (isNaN(costo)))
                            ||(cost1 <= cost && isNaN(cost2)) //size
                            || (isNaN(cost1) && cost <= cost2)
                            || (isNaN(cost1) && isNaN(cost2))
                            || (cost1 <= cost && cost2 >= cost)
                            || (cost1 == '' && cost2 == '')
                            || (cost1 == '' && cost2 >= cost)
                            || (cost1 <= cost && cost2 == '')

                            ||(cost1 <= costi && isNaN(cost2)) //size
                            || (isNaN(cost1) && costi <= cost2)
                            || (isNaN(cost1) && isNaN(cost2))
                            || (cost1 <= costi && cost2 >= costi)
                            || (cost1 == '' && cost2 == '')
                            || (cost1 == '' && cost2 >= costi)
                            || (cost1 <= costi && cost2 == '')

                            ||(cost1 <= costo && isNaN(cost2)) //size
                            || (isNaN(cost1) && costo <= cost2)
                            || (isNaN(cost1) && isNaN(cost2))
                            || (cost1 <= costo && cost2 >= costo)
                            || (cost1 == '' && cost2 == '')
                            || (cost1 == '' && cost2 >= costo)
                            || (cost1 <= costo && cost2 == '')
                        ) {
                            if (search.loc == '' //Location
                                || (search.loc == "Northeast" && northeast.indexOf(location) > -1)
                                || (search.loc == "Midwest" && midwest.indexOf(location) > -1)
                                || (search.loc == "South" && south.indexOf(location) > -1)
                                || (search.loc == "West" && west.indexOf(location) > -1)
                                || (search.loc == "Pacific" && pacific.indexOf(location) > -1)
                            ) {
                                if ((search.m1 == 'All' && search.m2 == 'All') //majors
                                    || (college.majors[0].includes(search.m1) && college.majors[0].includes(search.m2))
                                    || (college.majors[1].includes(search.m1) && college.majors[1].includes(search.m2))
                                    ||(college.majors[0].includes(search.m1) && college.majors[1].includes(search.m2))
                                    ||(college.majors[1].includes(search.m1) && college.majors[0].includes(search.m2))
                                    ||((college.majors[0].includes(search.m1) || college.majors[1].includes(search.m1)) && search.m2 == 'All')
                                    ||((college.majors[0].includes(search.m2) || college.majors[1].includes(search.m2)) && search.m1 == 'All')
                                ) {

                                    if ((rank1 <= ranking && isNaN(rank2)) //ranking
                                        || (isNaN(rank1) && ranking <= rank2)
                                        || (isNaN(rank1) && isNaN(rank2))
                                        || (rank1 <= ranking && rank2 >= ranking)
                                        || (rank1 >= 400 && rank2 <= 500 && ranking == 450)
                                        || (rank1 >= 600 || rank2 >= 600 && ranking == 600)
                                        || (rank1 == '' && rank2 == '')
                                        || (rank1 == '' && rank2 >= ranking)
                                        || (rank1 <= ranking && rank2 == '')
                                    ){

                                        if (size == 0
                                            || (size1 <= size && isNaN(size2)) //size
                                            || (isNaN(size1) && size <= size2)
                                            || (isNaN(size1) && isNaN(size2))
                                            || (size1 <= size && size2 >= size)
                                            || (size1 == '' && size2 == '')
                                            || (size1 == '' && size2 >= size)
                                            || (size1 <= size && size2 == '')
                                        ){

                                            if ((math1 <= satMath && isNaN(math2)) //size
                                            || (isNaN(math1) && satMath <= math2)
                                            || (isNaN(math1) && isNaN(math2))
                                            || (math1 <= satMath && math2 >= satMath)
                                            || (math1 == '' && math2 == '')
                                            || (math1 == '' && math2 >= satMath)
                                            || (math1 <= satMath && math2 == '')
                                        ){
                                                if ((eng1 <= satEnglish && isNaN(eng2)) //size
                                                || (isNaN(eng1) && satEnglish <= eng2)
                                                || (isNaN(eng1) && isNaN(eng2))
                                                || (eng1 <= satEnglish && eng2 >= satEnglish)
                                                || (eng1 == '' && eng2 == '')
                                                || (eng1 == '' && eng2 >= satEnglish)
                                                || (eng1 <= satEnglish && eng2 == '')
                                            ){
                                                if ((act1 <= act && isNaN(act2)) //size
                                                || (isNaN(act1) && act <= act2)
                                                || (isNaN(act1) && isNaN(act2))
                                                || (act1 <= act && act2 >= act)
                                                || (act1 == '' && act2 == '')
                                                || (act1 == '' && act2 >= act)
                                                || (act1 <= act && act2 == '')
                                            ){

                                            
                                                        //console.log("true:", college)
                                                            showColleges([college])
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }


                    }
                }
            })
        }
        //function returnJsonFilter(college){
        // console.log("Return Json Filter:", typeof(college))
        // college.forEach(key=>{
        //     console.log("key",key)
        //     filteredColleges.push(key)
        // })
        // return college
        //}

        console.log("Filtered Colleges:", filteredColleges)
        //console.log("Hello")
        function showColleges(collegeInfo) { //This will print them out to a table
            //console.log("Received College Info:", collegeInfo)
            var thead = $("<thead/>")
            var row = $("<tr/>")
 //Appends to the table listed in the html
            collegeInfo.forEach(college => {
                //console.log(profileInfo)
                //console.log("Dialog Tester:", $(college).attr("name"))
                //console.log(college)
                var row = $("<tr/>")
                Object.keys(college).forEach(key => { //For specific keys specfic data will be printed

                    if (key == "name" || key == "admis_percent" || key == "location") { //Key Names

                        var keyData = $("<td/>", { html: college[key] })
                        row.append(keyData)
                    }
                    else if (key == "size") { //Size
                        //console.log(college.size)
                        if (college.size < 0 || college.size == "NaN") {
                            var keyData = $("<td/>", { html: "N/a" })
                            row.append(keyData)
                        }
                        else {
                            var parsed = parseInt(college[key])
                            var keyData = $("<td/>", { html: parsed })
                            row.append(keyData)
                        }
                    }
                    else if (key == "cost_gen") { // Cost to attend
                        if (college.cost_gen < 0 || college.cost_gen == "NaN") {
                            if (college.cost_instate > 0 || college.cost_outstate > 0) {
                                var college_state_cost = "Instate: " + college.cost_instate.toString() + "\nOutstate: " + college.cost_outstate.toString()
                                //console.log("Instate", college_state_cost)
                                var keyData = $("<td/>", { html: college_state_cost })
                                row.append(keyData)
                            }

                            else {
                                var keyData = $("<td/>", { html: "N/a" })
                                row.append(keyData)
                            }
                        }
                        else {
                            var parsed = parseInt(college[key])
                            var keyData = $("<td/>", { html: parsed })
                            row.append(keyData)
                        }
                    }
                    else if (key == "ranking") { //Ranking
                        //"401-500"
                        //"> 600"
                        //console.log(college.ranking)
                        if (college.ranking == "401-500") {
                            var parsed = 450
                            var keyData = $("<td/>", { html: parsed })
                            row.append(keyData)
                        }
                        else if (college.ranking == "> 600") {
                            var parsed = 600
                            var keyData = $("<td/>", { html: parsed })
                            row.append(keyData)
                        }
                        else {
                            var parsed = parseInt(college[key])
                            var keyData = $("<td/>", { html: parsed })
                            row.append(keyData)
                        }
                    }
                    else if (key == "testscores") { //Test Score Breakdown
                        //console.log(college.testscores.sat_ebrw.lrange, (college.testscores.sat_ebrw.rrange))
                        if (parseInt(college.testscores.sat_ebrw.avg) > 0 || (parseInt(college.testscores.sat_ebrw.lrange) > 0 && parseInt(college.testscores.sat_ebrw.rrange) > 0)) {
                            if (parseInt(college.testscores.sat_ebrw.avg) > 0) {

                                var keyData = $("<td/>", { html: college.testscores.sat_ebrw.avg })
                                row.append(keyData)

                            }
                            else if (parseInt(college.testscores.sat_ebrw.lrange) > 0 && parseInt(college.testscores.sat_ebrw.rrange) > 0) {
                                var avg = (parseInt(college.testscores.sat_ebrw.lrange) + parseInt(college.testscores.sat_ebrw.rrange)) / 2
                                var keyData = $("<td/>", { html: avg })
                                row.append(keyData)
                            }
                        }
                        else {
                            var nothing = "N/a"
                            var keyData = $("<td/>", { html: nothing })
                            row.append(keyData)
                        }
                        //college.testscores.sat_math.avg
                        if (parseInt(college.testscores.sat_math.avg) > 0 || (parseInt(college.testscores.sat_math.lrange) > 0 && parseInt(college.testscores.sat_math.rrange) > 0)) {
                            if (parseInt(college.testscores.sat_math.avg) > 0) {

                                var keyData = $("<td/>", { html: college.testscores.sat_math.avg })
                                row.append(keyData)

                            }
                            else if (parseInt(college.testscores.sat_math.lrange) > 0 && parseInt(college.testscores.sat_math.rrange) > 0) {
                                var avg = (parseInt(college.testscores.sat_math.lrange) + parseInt(college.testscores.sat_math.rrange)) / 2
                                var keyData = $("<td/>", { html: avg })
                                row.append(keyData)
                            }
                        }

                        else {
                            var nothing = "N/a"
                            var keyData = $("<td/>", { html: nothing })
                            row.append(keyData)
                        }
                        if (parseInt(college.testscores.act_composite.avg) > 0 || (parseInt(college.testscores.act_composite.lrange) > 0 && parseInt(college.testscores.act_composite.rrange) > 0)) {
                            //college.testscores.act_composite.avg
                            if (parseInt(college.testscores.act_composite.avg) > 0) {

                                var keyData = $("<td/>", { html: college.testscores.act_composite.avg })
                                row.append(keyData)

                            }
                            else if (parseInt(college.testscores.act_composite.lrange) > 0 && parseInt(college.testscores.act_composite.rrange) > 0) {
                                var avg = (parseInt(college.testscores.act_composite.lrange) + parseInt(college.testscores.act_composite.rrange)) / 2
                                var keyData = $("<td/>", { html: avg })
                                row.append(keyData)
                            }

                        }
                        else {
                            var nothing = "N/a"
                            var keyData = $("<td/>", { html: nothing })
                            row.append(keyData)
                        }
                    }
                    else if (key == "completion_percent") {
                        //console.log(college)
                        
                        var keyData = $("<td/>").append($("<a/>",{id:college["_id"].$oid,class:"viewProfile",html:"viewProfile",href:"#"}))
                        row.append(keyData)
                    }
                })
                $("#myTable2").append(row)
            });
            $(".viewProfile").one('click', function (evt) { //Like the List function this will have a dialog box pop up to show the college info
                $("#dialog").empty()
                $("#dialog").dialog('open', "option", "position", "center");
                evt.preventDefault()
                var collegeID = $(this).attr("id");
                var profileInfo = globalCollegeInfo.find(college => college["_id"].$oid == collegeID)
                console.log(profileInfo)
                $("#dialog").append(`College Name: ${profileInfo["name"]}<br>
                    College Type: ${profileInfo["ctype"]}<br>
                    Cost General: ${profileInfo["cost_gen"]}<br>
                    Cost Instate: ${profileInfo["cost_instate"]}<br>
                    Cost Outstate: ${profileInfo["cost_outstate"]}<br>
                    Location: ${profileInfo["location"]}<br>
                    College Size: ${profileInfo["size"]}<br>
                    Admitted Number: ${profileInfo["admis_num"]}<br>
                    Admitted Percent: ${profileInfo["admis_percent"]}<br>
                    Completion Percent: ${profileInfo["completion_percent"]}<br>
                    Avg GPA: ${profileInfo["testscores"].avg_gpa}<br>
                    Graduated Student Median Debt: ${profileInfo["med_debt"]}<br>
                    Majors: ${profileInfo["majors"]}<br>
                    
                    `)
                })
                $("#dialog").dialog({
                    close: function () {
                        $("#dialog").empty()
                    }
                })
            }
        //showColleges(filteredColleges)
    </script>



    <script>
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                position: { my: "top" },
                width: '900px',
            })
        });
        $(() => {
            
        });
    </script>

    </html>