<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Helps high school students decide where to apply for college" />
    <meta name="keywords" content="" />
    <meta name="author" content="Andrew Cao, Qihong Jiang, Maggie Zhou" />
    <title>C4me | Student</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top border-bottom">
                <a class="navbar-brand ml-4 " href="/"><img src="../img/c4me_logo_(transparent).png"></a>
                <h2 class="mr-auto">| Student</h2>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNav #sideNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="topNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/admin/messages">Messages</a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sideNav">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/student/profile">
                                Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Colleges
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Students
                            </a>
                        </li>
                    </ul>
            </nav>
        </div>
    </div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <section id="pageName">
                <div class="container md-4">
                    <h1> College Search</h1>
                </div>
            </section>
        </div>
        <section id="info">
            <div class="container">
                <form method='post' action='/student/search' id="collegeFilters">
                    <div class="float-right">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label mr-3" for="inlineRadio1">Lax</label>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="option1" checked>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label mr-3" for="inlineRadio2">Strict</label>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="option2">
                        </div>
                    </div>

                    <label for="collegeName">College Name</label><br>
                    <input type="text" id="collegeName" name="collegeName" placeholder=" Enter College Name"><br><br>

                    <label for="admissionRate">Admission Rate</label><br>
                    <input type="range" min="0" max="1" value="1" step="0.01" class="slider" id="admissionRate"
                        name="admissionRate">
                    <p>Admission Rate: <span id="admissionResult"></span></p>
                    <br>

                    <label for="cost">Cost</label><br>
                    <input list="cost" type="text" name="cost">
                    <datalist id="cost">
                        <option value="$0 - $10,000"></option>
                        <option value="$10,001 - $20,000"></option>
                        <option value="$20,001 - $30,000"></option>
                        <option value="$30,001 - $40,000"></option>
                        <option value="$40,001 - $50,000"></option>
                        <option value="$50,001 - $60,000"></option>
                        <option value="$60,001 - $70,000"></option>
                        <option value="$70,001 - $80,000"></option>
                    </datalist>
                    <br><br>

                    <label for="location">Location</label><br>
                    <input list="location" type="text" name="loc">
                    <datalist id="location">
                        <option value="Northeast"></option>
                        <option value="Midwest"></option>
                        <option value="South"></option>
                        <option value="West"></option>
                    </datalist>

                    <br><br>

                    <label for="major">Major(s)</label><br>
                    <input list="major" type="text" name="m1">
                    <datalist id="major">
                        <option value="Mathematics"></option>
                        <option value="Computer Science"></option>
                        <option value="Chemistry"></option>
                        <option value="Biology"></option>
                        <option value="Education"></option>
                        <option value="English"></option>
                        <option value="Philosophy"></option>
                        <option value="Psychology"></option>
                        <option value="Engineering"></option>
                        <option value="Music"></option>
                    </datalist>

                    <input list="major" type="text" name="m2">

                    <br><br>

                    <label for="rank">Rank</label><br>
                    <input type="range" min="0" max="1000" value="0" step="50" class="slider" id="rank" name="rank"></i>
                    <p>Rank: <span id="rankResult"></span></p>
                    <br><br>

                    <label for="size">Size</label><br>
                    <input type="range" min="0" max="100000" value="0" step="1000" class="slider" id="size"
                        name="size"></i>
                    <p>Size: <span id="sizeResult"></span></p>
                    <br><br>

                    <table>
                        <tr>
                            <th><label for="math">SAT Math</label></th>
                            <th><label for="reading">SAT EBRW</label></th>
                            <th><label for="act">ACT Composite</label></th>
                        </tr>
                        <tr>
                            <td>
                                <input list="math" type="text" name="math">
                                <datalist id="math">
                                    <option value="0-100"></option>
                                    <option value="101-200"></option>
                                    <option value="201-300"></option>
                                    <option value="301-400"></option>
                                    <option value="401-500"></option>
                                    <option value="501-600"></option>
                                    <option value="601-700"></option>
                                    <option value="701-800"></option>
                                </datalist>
                            </td>
                            <td>
                                <input list="reading" type="text" name="reading">
                                <datalist id="reading">
                                    <option value="0-100"></option>
                                    <option value="101-200"></option>
                                    <option value="201-300"></option>
                                    <option value="301-400"></option>
                                    <option value="401-500"></option>
                                    <option value="501-600"></option>
                                    <option value="601-700"></option>
                                    <option value="701-800"></option>
                                </datalist>
                            </td>
                            <td>
                                <input list="act" type="text" name="act">
                                <datalist id="act">
                                    <option value="1-4"></option>
                                    <option value="5-8"></option>
                                    <option value="9-12"></option>
                                    <option value="13-16"></option>
                                    <option value="17-20"></option>
                                    <option value="21-24"></option>
                                    <option value="25-28"></option>
                                    <option value="29-32"></option>
                                    <option value="33-36"></option>
                                </datalist>
                            </td>
                        </tr>
                    </table>

                    <input type="submit" id="searchBtn" value="Search">
                    <br><br><br>
                </form>
            </div>
        </section>
</body>

<script src="./js/script.js"></script>

</html>
