<%- include("student_header.ejs"); -%>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <section id="pageName">
            <div class="container md-4">
                <h1> College Search</h1>
            </div>
        </section>
    </div>
    <section id="info">
        <div class="container">
            <form method='post' action='/student/search' id="collegeFilters">
                <div class="float-right">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label mr-3" for="inlineRadio1">Lax</label>
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="lax" checked>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label mr-3" for="inlineRadio2">Strict</label>
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="strict">
                    </div>
                </div>

                <div class="form-group">
                    <label for="collegeName">College Name</label><br>
                    <input type="text" id="collegeName" name="collegeName" placeholder="Enter College Name">
                </div>

                <div class="form-group">
                    <label for="formControlRange">Admission Rate Range</label>
                    <input type="range" class="form-control-range" max="1" value="0" step="0.01" class="slider"
                        id="admissionRate1" name="admissionRate1" onchange="updateTextInput(this.value);">
                    <input type="text" id="textInput" value="">

                    <input type="range" class="form-control-range" max="1" value="0" step="0.01" class="slider"
                        id="admissionRate2" name="admissionRate2" onchange="updateTextInput2(this.value);">
                    <input type="text" id="textInput2" value="">
                </div>

                <div class="form-group">
                    <label for="cost">Cost</label><br>
                    <input type="text" id="cost1" name="cost1" placeholder="Enter Cost">
                    <br> to - <br>
                    <input type="text" id="cost2" name="cost2" placeholder="Enter Cost">
                </div>
                <label for="location">Location</label><br>
                <input list="location" type="text" name="loc">
                <datalist id="location">
                    <option value="Northeast"></option>
                    <option value="Midwest"></option>
                    <option value="South"></option>
                    <option value="West"></option>
                    <option value="Pacific"></option>
                </datalist>

                <br><br>

                <label for="major">Major(s)</label><br>
                <select name="m1" id="m1">
                    <option>All</option>
 
            </select>
            <select name="m2" id="m2">
                <option>All</option>

            </select>
                <br><br>

                <div class="form-group">
                    <label for="rank">Rank</label><br>
                    <input type="text" id="rank1" name="rank1" placeholder="Enter Rank Range (1-600)">
                    <br> to - <br>
                    <input type="text" id="rank2" name="rank2" placeholder="Enter Rank Range (1-600)">
                </div>
                <br><br>
                
                <div class="form-group">
                    <label for="size">Size</label><br>
                    <input type="text" id="size1" name="size1" placeholder="Enter Size Range">
                    <br> to - <br>
                    <input type="text" id="size2" name="size2" placeholder="Enter Size Range">
                </div>               
                <br><br>
                <table>
                    <tr>
                        <th><label for="math">SAT Math</label></th>
                        <th><label for="reading">SAT EBRW</label></th>
                        <th><label for="act">ACT Composite</label></th>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="size">Sat Math</label><br>
                                <input type="text" id="math1" name="math1" placeholder="0-800">
                                <br> to - <br>
                                <input type="text" id="math2" name="math2" placeholder="0-800">
                            </div>   

                        </td>
                        <td>
                            <div class="form-group">
                                <label for="size">Sat EBRW</label><br>
                                <input type="text" id="eng1" name="eng1" placeholder="0-800">
                                <br> to - <br>
                                <input type="text" id="eng2" name="eng2" placeholder="0-800">
                            </div>  
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="size">Act Comp</label><br>
                                <input type="text" id="act1" name="act1" placeholder="0-36">
                                <br> to - <br>
                                <input type="text" id="act2" name="act2" placeholder="0-36">
                            </div>  
                        </td>
                    </tr>
                </table>

                <input type="submit" id="searchBtn" value="Search">
                <br><br><br>
            </form>
        </div>
    </section>
    </body>

    <!-- jquery Library-->
    <script src="https://code.jquery.com/jquery-3.5.0.js"
    integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<script>
function updateTextInput(val) {
          document.getElementById('textInput').value=val; 
        }
function updateTextInput2(val) {
          document.getElementById('textInput2').value=val; 
        }
var majors = [
  'Accounting', 
  'Acting',              'Actuarial Science',   'Advertising',
  'African Studies',     'Animal Physiology',   'Anthropology',
  'Applied Economics',   'Applied Psychology',  'Archeology',
  'Architecture',        'Area Studies, Other', 'Army JROTC/ROTC',
  'Art History',
  'Asian History',       'Astronomy',           'Astrophysics',
  'Ballet',              'Behavioral Sciences', 'Biochemistry', 'Biology',
  'Bioinformatics',      'Biometry/Biometrics', 'Biophysics',
  'Biopsychology',       'Biostatistics',       'Biotechnology',
  'Business Statistics', 'Caribbean Studies',   'Chemical Physics',
  'Chemistry, General',  'Chemistry, Other',    'Child Development',
  'Chinese Studies',     'Christian Studies',   'Cognitive Science',
  'Computer Graphics',   'Computer Science',    'Consumer Economics',
  'Computer Engineering',
  'Creative Writing',    'Criminology',         'Dairy Science',
  'Dance, General',      'Dance, Other',        'Dietetics/Dietitian',
  'Digital Arts',        'Divinity/Ministry',   'Drawing',
  'East Asian Studies',  'Ecology',             'Economics, General',
  'Economics, Other',    'Education, General',  'Education, Other',
  'Engineering Science', 'English',             'Entomology',
  'Epidemiology',        'Ethics',              'Ethnic Studies',
  'European History',    'Exercise Physiology', 'Finance, General',
  'Folklore Studies',    'Food Science',        'Forestry, General',
  'Forestry, Other',     'French Studies',      'General Literature',
  'General Studies',     'Geography',           'Geography, Other',
  'German Studies',      'Gerontology',         'Graphic Design',
  'History, General',    'History, Other',      'Human Nutrition',
  'Illustration',        'Informatics',         'Insurance',
  'Interior Design',     'Islamic Studies',     'Italian Studies',
  'Japanese Studies',    'Jazz/Jazz Studies',   'Journalism',
  'Labor Studies',       'Learning Sciences',   'Linguistics',
  'Logic',               'Management Science',  'Marine Sciences',
  'Marketing',           'Marketing Research',    'Materials Science',
  'Mathematics',         'Medical',             'Medical Informatics',
  'Modern Languages',
  'Molecular Biology',   'Music Management',    'Music',   
  'Music Pedagogy',      'Music Technology',                
  'Musical Theatre',     'Natural Sciences',    'Neuroscience',
  'Nuclear Engineering', 'Nursing Science',     'Nutrition Sciences',
  'Operations Research', 'Organic Chemistry',   'Painting',
  'Pharmacology',        'Pharmacy',            'Philosophy',
  'Philosophy, Other',   'Photography',         'Photojournalism',
  'Physical Chemistry',  'Physical Sciences',   'Physician Assistant',
  'Physics',             'Physics, Other',      'Physiology, General',
  'Political Economy',   'Polysomnography',     'Population Biology',
  'Poultry Science',     'Pre-Engineering',     'Pre-Law Studies',
  'Pre-Nursing Studies', 'Printing Management', 'Printmaking',
  'Project Management',  'Psychology, General', 'Publishing',
  'Real Estate',         'Religious Education', 'Resort Management',
  'Retail Management',   'Russian Studies',     'School Psychology',
  'Sculpture',           'Slavic Studies',      'Social Work',
  'Social Work, Other',  'Sociology',           'South Asian Studies',
  'Sports Studies',      'Statistics, General', 'Structural Biology',
  'Systems Engineering', 'Urban Forestry',      'Voice and Opera',
  "Women's Studies",     'Writing, General'
]
majors.forEach(major=>{
    $("#m1").append($("<option/>",{value:major,html:major}))
    $("#m2").append($("<option/>",{value:major,html:major}))
})

</script>

    </html>