<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Helps high school students decide where to apply for college" />
    <meta name="keywords" content="" />
    <meta name="author" content="Andrew Cao, Qihong Jiang, Maggie Zhou" />
    <title>C4me | Student</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top border-bottom">
                <a class="navbar-brand ml-4 " href="/"><img src="../img/c4me_logo_(transparent).png"></a>
                <h2 class="mr-auto">| Student</h2>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="topNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/messages">Messages</a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky" id="sideNav">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/student/profile">
                                Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Colleges
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Students
                            </a>
                        </li>
                    </ul>
            </nav>
        </div>
    </div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <section id="pageName">
                <div class="container md-4">
                    <h1> Student Profile</h1>
                </div>
            </section>
        </div>
        <section id="info">
            <form id="edit_profile" method='post' action='/student/edit'>
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                            role="tab" aria-controls="nav-home" aria-selected="true">General Info</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                            role="tab" aria-controls="nav-profile" aria-selected="false">College Application</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                            role="tab" aria-controls="nav-contact" aria-selected="false">Security</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active border border-secondary pt-3" id="nav-general"
                                role="tabpanel" aria-labelledby="nav-general-tab">
                                <div class="container">
                                    <h3>Personal Information</h3>
                                    <div class="form-group form-inline">
                                        <label for="firstName" class="mr-3">First Name</label>
                                        <input type="text" id="firstName" class="form-control" name="firstName">
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="lastName" class="mr-3">Last Name</label>
                                        <input type="text" id="lastName" class="form-control" name="lastName">
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="gradYear" class="mr-3">Graduation Year</label>
                                        <input type="gradYear" id="gradYear" class="form-control" name="gradYear">
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="idNum" class="mr-3">ID Number</label>
                                        <input type="text" id="idNum" class="form-control" name="idNum">
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="ethnicity" class="mr-3">Last Name*</label>
                                        <input type="text" id="ethnicity" class="form-control" name="ethnicity">
                                    </div>

                                    <br>
                                    <div class="border-bottom border-dark"></div>
                                    <br>

                                    <h3>Contact Information</h3>
                                    <div class="form-group form-inline">
                                        <label for="email" class="mr-3">Email</label>
                                        <input type="text" id="email" class="form-control" name="email">
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="home" class="mr-3">Home Phone</label>
                                        <input type="text" id="home" class="form-control" name="home">
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="mobile" class="mr-3">Mobile Phone</label>
                                        <input type="text" id="mobile" class="form-control" name="mobile">
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="address" class="mr-3">Address</label>
                                        <input type="text" id="address" class="form-control" name="address">
                                    </div>

                                    <br>
                                    <div class="border-bottom border-dark"></div>
                                    <br>
                                    <h3>Contact Information</h3>
                                    <div class="form-group form-inline">
                                        <label for="home" class="mr-3">Home Phone</label>
                                        <input type="text" id="home" class="form-control" name="home">
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="mobile" class="mr-3">Mobile Phone</label>
                                        <input type="text" id="mobile" class="form-control" name="mobile">
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="address" class="mr-3">Address</label>
                                        <input type="text" id="address" class="form-control" name="address">
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="email" class="mr-3">ID Number</label>
                                        <input type="text" id="email" class="form-control" name="email">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <form>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                                        value="email@example.com">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword"
                                        placeholder="Password">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <center>
                    <button type="submit" class="btn btn-secondary" style="width:125px;" value="Edit">Submit</button>
                </center>
                <br>
            </form>
        </section>
    </main>

</body>

<script src="./js/script.js"></script>
<!-- jquery Library-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


</html>