<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Table with Add and Delete Row Feature</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <input type="button" class="btn btn-info add-new float-right mt-4 mb-4" id="addrow" value="Add New">
    <table id="acceptanceDecisions" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">College Name</th>
                <th scope="col">College Decision</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" id="collegeName" class="form-control" name="collegeName">
                </td>
                <td><select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option value="0"></option>
                        <option value="1">Applied</option>
                        <option value="2">Accepted</option>
                        <option value="3">Waitlisted</option>
                        <option value="4">Rejected</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</body>

<script>
    $(document).ready(function () {
        var counter = 0;

        $("#addrow").on("click", function () {
            var newRow = $("<tr>");
            var cols = "";

            cols += '<td><input type="text" class="form-control" name="name' + counter + '"/></td>';
            cols += '<td><select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" <option value="0"> </option> <option value="1">Applied</option> <option value="2">Accepted</option> <option value="3">Waitlisted</option> <option value="4">Rejected</option>' + counter + '"/></td>';

            cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
            newRow.append(cols);
            $("table.table-bordered").append(newRow);
            counter++;
        });

        $("table.table-bordered").on("click", ".ibtnDel", function (event) {
            $(this).closest("tr").remove();
            counter -= 1
        });
    });
</script>

</html>